version: "3"

services:
  dns:
    container_name: adguard
    image: adguard/adguardhome
    ports:
      # DNS
      # Specify host IP to enable DNS in other containers, if needed
      #- ${SERVERIP}:53:53/tcp
      #- ${SERVERIP}:53:53/udp
      - 53:53/tcp
      - 53:53/udp

      # DNS-over-TLS, DNS-over-QUIC
      - 853:853/tcp
      - 853:853/udp

      # DHCP
      #- 67:67/udp
      #- 68:68/udp

      # HTTP (main)
      - 80:80/tcp

      # HTTPS, DNS-over-HTTPS (incl. HTTP/3), DNSCrypt (main)
      - 443:443/tcp
      - 443:443/udp

      # HTTP(S) (alt, incl. HTTP/3)
      - 3000:3000/tcp

      # DNSCrypt (alt)
      - 5443:5443/tcp
      - 5443:5443/udp

      # HTTP (pprof)
      - 6060:6060/tcp
    volumes:
    - './volumes/conf:/opt/adguardhome/conf'
    - './volumes/work:/opt/adguardhome/work'
    restart: unless-stopped
