dns.home {
  # Disable automatic HTTPS to prevent Let's Encrypt from being used
  auto_https off

  tls /run/secrets/cert_file /run/secrets/key_file {
    protocols tls1.3
  }

  reverse_proxy dns:80
}
